$font-size-root: 14px;
$danger: #e42020;
$warning: #ffed00;
$thumbnail-border-color: #000;
$thumbnail-border-radius: 0;
$thumbnail-padding: 0;
$thumbnail-border-width: 2px;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$max-xxsmall: 365px;
$max-xsmall: 410px;
$max-small: 576px;
$max-medium: 768px;
$max-large: 992px;
$min-large: 991px;
$max-xlarge: 1200px;
$max-xxlarge: 1400px;

$yellow-50: tint-color($yellow, 90%) !default;

$black-900: #080808 !default;
$header-top-bg: $black;
$header-top-height: 35px;

$header-main-height: 100px;

$hero-bg: linear-gradient(#89bdeb, #001050);

a {
  cursor: pointer;
}

p {
  line-height: 2;
}

.link-icon {
  font-size: 140%;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 600;
}

.button {
  background-color: $danger;
  border: 2px solid $warning;
  color: $white;
  font-size: 28px;
  font-weight: 500;
  max-width: 100%;
  width: 270px;
  border-radius: 100px;
  padding: 2px 10px;
  transition: $transition-base;

  &:hover {
    background-color: $warning;
    border: 2px solid $danger;
    color: $danger;
  }
}

.header-top {
  background-color: $header-top-bg;
  height: $header-top-height;
  border-bottom: 2px solid $warning;

  &::after {
    content: "";
    width: 100%;
    position: relative;
    top: 1.5px;
    display: block;
    border-bottom: 2px solid $danger;
  }

  .container {
    height: 100%;
    .row {
      height: 100%;
      .col-auto {
        line-height: 0;
      }
    }
  }

  &-link {
    color: $white;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: $transition-base;
    line-height: 0;

    &:hover {
      opacity: 0.8;
    }

    @media only screen and (max-width: $max-xxsmall) {
      font-size: 12px;
      gap: 4px;
    }
  }

  &-cart {
    color: $white;
    font-size: 14px;
    line-height: 0;
    margin-left: 8px;
    padding: 0px 8px;
    display: inline-flex;
    align-items: center;
    height: $header-top-height - 2;
    text-decoration: none;
    transition: $transition-base;

    @media only screen and (max-width: $max-xsmall) {
      font-size: 12px;
      margin-left: 4px;
    }

    &:hover {
      background: $white;
      color: $black;
    }
  }
}

.header-main {
  height: $header-main-height;
  background-color: white;
  border-bottom: 2px solid $danger;

  @media (max-width: $max-large) {
    height: $header-main-height - 40;
  }

  @media (max-width: $max-xsmall) {
    height: $header-main-height - 50;
  }

  &::after {
    content: "";
    width: 100%;
    position: relative;
    top: 1.5px;
    display: block;
    border-bottom: 2px solid $warning;
  }

  .container {
    height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  .header-logo {
    height: 100%;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    img {
      height: 100%;
    }
    .mobile-menu-icon {
      display: none;
      @media (max-width: $max-large) {
        display: block;
      }
    }
  }
}

.header-navidation {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;

  li {
    a {
      text-decoration: none;
      color: $black-900;
      font-size: 14px;
    }

    &.search-box {
      max-width: 270px;
    }
  }

  @media (max-width: $max-large) {
    display: none;
  }
}

.search-box {
  border: 2px solid $black;
  background-color: $yellow-50;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  width: 100%;

  &-rounded {
    border-radius: 50px;
  }
  input {
    color: $black-900;
    font-size: 12px;
    width: 100%;
    border: 0;
    background: transparent;
    outline: none;
  }
  .btn-search {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.header-contact-section {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 100%;
  font-size: 14px;
  img {
    height: 100%;
    max-height: 55px;
  }
  @media (max-width: $max-small) {
    gap: 8px;
    img {
      display: none;
    }
  }
  @media (max-width: $max-xsmall) {
    font-size: 12px;
  }
  @media (max-width: $max-xxsmall) {
    font-size: 10px;
  }
}

.hero-section {
  background: $hero-bg;

  .hero-section-content {
    display: flex;
    align-items: center;

    .hero-section-slider {
      flex: 1;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .hero-section-details {
      min-width: 330px;
      max-width: 330px;
      padding-right: 40px;
      padding-top: 40px;
      padding-bottom: 40px;

      h1 {
        color: $white;
        font-size: 54px;
      }
    }
  }
}

.gift-section {
  &-content {
    background-color: $yellow-50;
  }
  .gift-cards {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    @media (max-width: $max-medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $max-xsmall) {
      grid-template-columns: repeat(1, 1fr);
    }
    .gift-card {
      height: 100%;
      background-color: $yellow-50;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px;
      position: relative;
      cursor: pointer;
      .hover-img {
        position: absolute;
        opacity: 0;
        transition: $transition-base;
      }
      &:hover {
        .hover-img {
          opacity: 1;
        }
      }

      img {
        max-height: 100px;
        max-width: 100%;
      }
    }
  }
}

.product-card {
  border: 2px solid $black;
  .product-img-wrapper {
    position: relative;
    width: 100%;
    .product-img {
      position: absolute;
      width: 100%;
    }
    .product-img-bg {
      width: 100%;
      object-fit: cover;
    }
  }
  .product-details {
    text-align: center;
    background-color: $yellow-50;
    padding: 12px;
    font-size: 16px;
    line-height: 1.6;

    .product-price {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.category-section {
  padding-top: 50px;
  padding-bottom: 50px;
  .section-title {
    margin-bottom: 50px;
  }
  .category-name {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .product-img-wrapper {
    height: 350px;
    .product-img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    .product-img-bg {
      height: 100%;
      width: 100%;
    }
  }
}

.how-it-works-sections {
  background-color: #f6f5eb;
  padding-top: 50px;
  padding-bottom: 50px;

  .container > .row {
    --bs-gutter-x: 100px;
  }

  ul {
    list-style: none;
    font-weight: 600;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 16px;
  }

  @media (max-width: $max-large) {
    .container > .row {
      --bs-gutter-x: 24px;
    }
  }

  @media (min-width: $max-medium) and (max-width: $max-large) {
    ul {
      font-size: 13px;
    }
  }

  .section-title {
    margin-bottom: 20px;
  }
  .section-subtitle {
    color: #8d0000;
  }
}

.section-features {
  padding-top: 50px;
  padding-bottom: 50px;
  .row {
    --bs-gutter-y: 1.5rem;
  }
}

.section-sale {
  padding-top: 50px;
  padding-bottom: 50px;

  .section-sale-box {
    border: 3px solid $black;
    padding: 5px;

    &-inner {
      border: 5px solid $gray-400;
      padding: 24px 24px;
      position: relative;
      z-index: 1;
      color: $white;
      line-height: 1.3;

      img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }

      .sale-offer {
        font-weight: 700;
        font-size: 68px;
      }
      .sale-offer-title {
        font-weight: 600;
        font-size: 42px;
      }
      .sale-offer-link {
        font-weight: 300;
        font-size: 28px;
        color: #fff;
        text-decoration: none;
        margin-top: 12px;
        display: block;
      }
      @media (max-width: $max-small) {
        .sale-offer {
          font-size: 58px;
        }
        .sale-offer-title {
          font-size: 32px;
        }
        .sale-offer-link {
          font-size: 18px;
        }
      }
      @media (max-width: $max-xsmall) {
        .sale-offer {
          font-size: 48px;
        }
        .sale-offer-title {
          font-size: 22px;
        }
        .sale-offer-link {
          font-size: 18px;
        }
      }
    }
  }
}
.section-quots {
  padding: 50px 0;
  h3 {
    text-align: center;
  }
}
.section-social-icons {
  padding: 40px 0;
  background-color: #292929;
  display: flex;
  justify-content: center;
  gap: 20px;
  a {
    font-size: 24px;
    text-decoration: none;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $white;
  }
}

.section-footer {
  background-color: #f2f2f2;
  padding: 50px 0;

  .row {
    --bs-gutter-y: 30px;
  }
  @media screen and (min-width: $max-small) {
    .row {
      --bs-gutter-x: 50px;
    }
  }
  .footer-terms-policy {
    a {
      display: block;
      max-width: 260px;
      @media screen and (max-width: $max-small) {
        margin: 0 auto;
      }
      img {
        width: 100%;
      }
    }
    .footer-media-icons {
      max-width: 300px;
      img {
        width: 100%;
      }
    }
  }
  .footer-links {
    padding-left: 0px;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    a {
      font-weight: 400;
      font-size: 16px;
      text-decoration: none;
      color: #000;
    }
  }

  // .footer-call {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   background-color: #292929;
  //   padding: 30px 40px;
  //   border-radius: 5px;
  //   a {
  //     font-size: 18px;
  //     text-decoration: none;
  //     color: #fff;
  //   }
  // }
}
